
@import url(navbar.css);


/* Start flexbox */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
/* Flex box 1 met met mijn introductie naam en quote */
.item1 {
  border: 2px solid black;
  text-align: left;
  margin-left: 60px;
  flex: 1;
}
.introductie {
  font-family: "Poppins"cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  padding-bottom: 0px;
}
.naam {
  font-family: "Poppins"cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #edc048;
  padding-bottom: 40px;
}

.mediaendesign {
  font-family: "Poor Story", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  text-decoration: none;
  color: black;
  font-weight: 900;
  padding-bottom: 40px;
}
.quote{
  font-family: "Poppins"cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.item2{
  border: 2px solid black;
  text-align: left;
  margin-left: 60px;
  flex:1;
  
}
