body {
  font-family: Montserrat, sans-serif;
  position: relative;
}
img {
  position: absolute;
  top: -370px;
  left: 240px;
<<<<<<< Updated upstream
} sdafas
feDropShadowfsadf
sadfasd
feDropShadowdsf
asf
asdfasd
feDropShadowfasdf
sdaf

=======
}
>>>>>>> Stashed changes
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -110px;
}

.nav-item {
  list-style: none;
  margin-right: 4rem;
  font-family: "Poor Story", cursive;
  font-style: normal;
  font-weight: 900;
}
.nav-item-title {
  color: #edc048;
  font-size: 50px;
}
.nav-item a {
  font-family: "Poor Story", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.nav-item a:hover {
  border-bottom: 4px solid #000000;
  transition: all 200ms ease-out;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item1 {
  border: 2px solid black;
  text-align: center;
  margin-left: 60px;
}
.introductie {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}
.naam {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #edc048;
}
.mediaendesign {
  font-family: "Poor Story", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  text-decoration: none;
  color: black;
  font-weight: 900;
}
